@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: rgb(0, 0, 0);
    width: 5%; 
    height: 100vh; 
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 2;
}
#left{
    margin-right: 20px;
}
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    height: 100%; 
}

.nav-links li {
    width: 100%; 
    margin-top: 0;
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0s, opacity 0.5s linear; 
}

.nav-links li:nth-child(1) {
    margin-top: 20%;
}
.nav-links li:nth-child(7) {
    position: absolute;
    bottom: 0;
}

.nav-links li a {
    display: flex;
    align-items: center; 
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

.nav-links li a:hover {
    background-color: #a5a5a5;
}

.navbar:hover {
    width: 15%; 
    transition: width 0.5s ease; 
}

.navbar:hover .nav-links li {
    visibility: visible; 
    opacity: 1; 
}

.navbar p {
    margin-bottom: 5px; 
    margin-top: 10px; 
}

.nav-links li a i {
    margin-right: 10px; 
  }
  
  .nav-links li a span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    vertical-align: middle; 
  }
  .navbar:hover .nav-links li a span {
    display: inline; 
  }

@media screen and (max-width: 900px) {
    .navbar{
        width: 15%;
    }
    .navbar:hover{
        width: 30%;
    }
}

@media screen and (max-width: 500px) {
    .nav-links li a i {
        font-size: 14px; 
    }
  
    .nav-links li a span {
        font-size: 10px; 
    }
  }


/* Style the header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 10;
}

/* Style the input field */
header input {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 15px;
    border-radius: 15px;
    border: none;
}


.navbar {
    top: 60px; 
    height: calc(100vh - 60px); 
}



article {
    float: left;
    padding: 20px;
    width: 100%;
}

article h1{
    position: relative;
    clear: both;
    padding: 20px;
    margin-left: 20%;
    margin-top: 40px;  
    font-size: 1.8rem;
    font-weight: bolder;
   
    
}

 


.wrapper {
    max-width: 1100px;
    margin: 15px auto;
}
 
/* Calendar container */
.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}
 
/* Event section styling */
#event-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 1px solid #ccc;
}
 
.container-calendar #left h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px 0;
}
 
#event-section h3 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 0;
}
 
#event-section input[type="date"],
#event-section input[type="text"] {
    margin: 10px 0;
    padding: 5px;
    width: 80%;
}
 
#event-section button {
    background: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
 
.event-marker {
    position: relative;
}
 
.event-marker::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
}
 
/* event tooltip styling */
.event-tooltip {
    position: absolute;
    background-color: rgba(234, 232, 232, 0.763);
    color: black;
    padding: 10px;
    border-radius: 4px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: all 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
 
.event-marker:hover .event-tooltip {
    display: block;
}
 
/* Reminder section styling */
#reminder-section {
    padding: 10px;
    background: #f5f5f5;
    margin: 20px 0;
    border: 1px solid #ccc;
    margin-right: 20px;
}
 
#reminder-section h3 {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 0;
}
 
#reminderList {
    list-style: none;
    padding: 0;
}
 
#reminderList li {
    margin: 5px 0;
    font-size: 16px;
}
 
/* Style for the delete buttons */
.delete-event {
    background: rgb(237, 19, 19);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
    align-items: right;
}
 
/* Buttons in the calendar */
.button-container-calendar button {
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: #fff;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    padding: 5px 10px;
}
 
/* Calendar table */
.table-calendar {
    border-collapse: collapse;
    width: 100%;
}
 
.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
}
 
/* Date picker */
.date-picker.selected {
    background-color: #f2f2f2;
    font-weight: bold;
    outline: 1px dashed #00BCD4;
}
 
.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}
 
/* Day-specific styling */
.date-picker:nth-child(1) {
    color: red;
    /* Sunday */
}
 
.date-picker:nth-child(6) {
    color: rgb(0, 0, 0);
   
}
 
/* Hover effect for date cells */
.date-picker:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
 
/* Header for month and year */
#monthAndYear {
    text-align: center;
    margin-top: 0;
}
 
/* Navigation buttons */
.button-container-calendar {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    clear: both;
}
 
#previous {
    float: left;
}
 
#next {
    float: right;
}
 
/* Footer styling */
.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}
 
.footer-container-calendar select {
    cursor: pointer;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}

.buttonAdd {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    font-weight: bolder;
    font-size: 17px;
    height: 50px;
    border: none;
    cursor: pointer;
    float: right;
    max-width: 400px;
}
li{
    list-style-type: none;
    font-size: 15px;
}a{
    color: white;
    text-decoration: none;
}
.buttonAdd:hover{
    color: black;
    background-color: rgb(161, 161, 161);
    transition: 0.5s ease-in-out;
}
.dark-theme {
    background-color: #000000;
    color: #fff;
  }
  
  .left-section {
    margin-right: auto;
    margin-left: 50px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  

  .icon {
    position: relative;
      width: 50px;
      height: 50px;
      margin-left: 10px;
      
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px; 
  }
.notification-dot {
    position: absolute;
    top: 7px; 
    right: 9px; 
    width: 15px; 
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px; 
}

  .icon i {
      font-size: 20px; 
      color: #fff;
  }
  
  
  .profile-pic {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    margin-left: 10px;
  }
@media screen and (max-width: 700px) {
    .container-calendar {
        max-width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}
