@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background: black;
  color: white;
}

.container {
  background: #dfdfdf;
  width: 410px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 10px 8px 12px whitesmoke;

}
.container:hover{
  box-shadow: none;

}



.container .text {
  font-size: 35px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  color: #000000;
}

.container form {
  margin-top: -20px;
}

.container form .data {
  height: 45px;
  width: 100%;
  margin: 40px 0;
}

form .data label {
  font-size: 18px;
}

form .data input {
  height: calc(1.5em + 1rem + 2px);
  width: 100%;
  padding-left: 10px;
  font-size: calc(0.9271875rem + 0.32625vw);
  border: none;
  border-radius:12px ;
  margin-top: 8px;
}

.button {
  background-color: #000000;
  color: white;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid silver;
  height: 45px;
  width: 100%;
  margin: 40px 0;
  border-radius: 15px;
}

button:hover {
  background-color: #4e4e4e;
  color: black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-weight: bolder;
  box-shadow:  10px 10px 9px #00000000;
}

form .data input:focus {
  border-color: #3498db;
  border-bottom-width: 2px;
}

form .forgot-pass {
  margin-top: 6px;
  font-size: 14px;
}

form .forgot-pass a {
  color: #3498db;
  text-decoration: none;
}

form .forgot-pass a:hover {
  text-decoration: underline;
}

form .btn {
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

form .btn .inner {
  height: 100%;
  width: 300%;
  position: absolute;
}
form{
  color: black;
}
