@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.navbar {
  background-color: rgb(0, 0, 0);
  width: 5%; 
  height: 100vh; 
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 600;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start; 
  height: 100%; 
}
.nav-links li {
  width: 100%; 
  margin-top: 0;
  visibility: hidden; 
  opacity: 0; 
  transition: visibility 0s, opacity 0.5s linear; 
}

.nav-links li:nth-child(1) {
  margin-top: 20%;
}

.nav-links li:nth-child(7) {
  position: absolute;
  bottom: 0;
}

.nav-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%; 
}

.nav-links li a:hover {
  background-color: #a5a5a5;
}

.navbar:hover {
  width: 15%; 
  transition: width 0.5s ease; 
  z-index: 11;
}

.navbar:hover .nav-links li {
  visibility: visible; 
  opacity: 1; 
}

.navbar p {
  margin-bottom: 5px; 
  margin-top: 10px; 
}
.nav-links li a i {
  margin-right: 10px; 
}
  
.nav-links li a span {
  display: none; 
}
  
.navbar:hover .nav-links li a span {
  display: inline; 
}


@media screen and (max-width: 900px) {
  .navbar{
    width: 15%;
  }
  .navbar:hover{
    width: 30%;
  }
}




/* Style the header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #000000;
    color: #fff;
    padding: 0 20px;
  }
  
  .dark-theme {
    background-color: #000000;
    color: #fff;
  }
  
  .left-section {
    margin-right: auto;
    margin-left: 50px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  
  
  .icon {
    position: relative;
      width: 50px;
      height: 50px;
      margin-left: 10px;
      
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 5px; 
  }
  .notification-dot {
    position: absolute;
    top: 7px; 
    right: 9px; 
    width: 15px; 
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 10px;
}

  .icon i {
      font-size: 20px; 
      color: #fff;
  }
  
  
  .profile-pic {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 50%;
    margin-left: 10px;
  }
.navbar {
    top: 60px; 
    height: calc(100vh - 60px); 
}


@media screen and (max-width: 500px) {
    .nav-links li a i {
        font-size: 14px; 
    }
  
    .nav-links li a span {
        font-size: 10px; 
    }
  }